@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 70px;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.link-container {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

