@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 70px;
    background-color: #1F2937;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.link-container {
    display: flex;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    min-height: 100vh;
    padding: 20px 60px;
    background-color: #1F2937;
    color: white;
}

.hero img {
    max-width: 712px;
    max-height: auto;
    border-radius: 10px;
}


.hero-content h1,p{
 color: #F9FAF8;
 margin-bottom: 25px;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 900;
}

.hero-content p {
    font-size: 19px;
}

.hero-content button {
    border-radius: 5px;
    padding: 8px 22px;
    border: none;
}

.information h1{
    color: #1F2937;
    text-align: center;
    padding: 40px 0;
    font-size: 36px;
}

.information p {
    width: 200px;
    color: black;
    text-align: center;
    font-size: 16px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 5px solid #1F2937;
    border-radius: 10px;
    margin-bottom: 16px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}